@import 'tailwindcss';
@import "./filament.css";
@import "flowbite/src/themes/default.css";
@import "../../Modules/Puzzles/resources/assets/css/app.css";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.{php,html,js,jsx,ts,tsx,vue}';
@source '../node_modules/flowbite';
/*@source '../node_modules/';*/

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /*
    const navyColor = {
    50: "#E7E9EF",
    100: "#C2C9D6",
    200: "#A3ADC2",
    300: "#697A9B",
    400: "#5C6B8A",
    450: "#465675",
    500: "#384766",
    600: "#313E59",
    700: "#26334D",
    750: "#222E45",
    800: "#202B40",
    900: "#192132",
};
     */
    --color-navy-50: #E7E9EF;
    --color-navy-100: #C2C9D6;
    --color-navy-200: #A3ADC2;
    --color-navy-300: #697A9B;
    --color-navy-400: #5C6B8A;
    --color-navy-450: #465675;
    --color-navy-500: #384766;
    --color-navy-600: #313E59;
    --color-navy-700: #26334D;
    --color-navy-750: #222E45;
    --color-navy-800: #202B40;
    --color-navy-900: #192132;
}

[x-cloak] {
    display: none;
}
